@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.swal2-success-line-tip, .swal2-success-line-long {
  font-size: 11px;
  margin-right: 9px;
  margin-top: 7px;
  margin-left: 6px;
}

.swal2-x-mark-line-right{
  font-size: 12px;
  margin-right: 4px;
  margin-top: 6px;
  margin-left: 1px;
} 

.swal2-x-mark-line-left{
  font-size: 12px;
  margin-right: 10px;
  margin-top: 6px;
  margin-left: -11px;
} 

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-bars {
  margin-left: -0.3rem;
  font-size: 2rem;
  background: none;
}

.menu-bars-p {
  margin-left: 25px;
}

.Salir {
  font-size: 2rem;
  margin-right: 1ch;
}


.Perfil {
  font-size: 2rem;
  margin-left: 2300%;
}


.Selectsss{
  width:49.7%;
}

p {
  text-align: center;
  font-size: 29px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.btn {
  margin-top: -4px;
  margin-left: 14px;
}


.nav-menu {
  background-color: #060b26;
  width: 215px;
  height: 100vh;
  display: flex;
  justify-content: left;
  position: fixed;
  top: 0;
  left: 0px; /* Cambia el valor a la anchura del menú */
  transition: 350ms; /* Cambia el tiempo de transición a 350ms */
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  margin-left: -30px;
  list-style: none;
  height: 60px;
  transition: 350ms; /* Agrega una transición para los elementos del menú */
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  font-weight: bold; /* Cambia "font" a "font-weight" */
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 20px;
  transition: 350ms; /* Agrega una transición para los elementos del menú */
}

.nav-text a:hover {
  background-color: #031c45;
  color: cornsilk;
  margin-top: 10px;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  transition: 350ms; /* Agrega una transición para el botón de menú */
}


span {
  margin-left: 16px;
}

.input-group input:focus {
  outline: none;
  border-color: #4bbaff;
  box-shadow: 0 0 4px #0060c7;
}

html {
  font-size: 14px;
}

.img {
  max-width: 50%;
  height: 100px;
  margin-top: 25%; 
  margin-left: -165px;
}

.user-avatar {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 50px; /* Reduje el margen para que se vea mejor */
  align-items: flex-end; /* Alinea la imagen a la derecha */
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.user-avatar .dropdown-toggle {
  position: absolute;
  top: 1%;
  right: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.user-avatar .dropdown-toggle:active {
  transform: translateX(-50%) scale(1.1);
}

.flecha {
  margin-top: 1%;
  margin-left: -95%;
  margin-right: 1%;
  color: black;
}

.flecha:focus {
  color: #ffffff;
}

.dropdown-menu.aparecer {
  animation: aparecer 0.4s ease-in-out;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(31px);
  }
  100% {
    opacity: 1;
    transform: translateY(31px);
  }
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 1000px;
}

.prueba {
  font-size: 26px;
}

.Buscador:focus{
  outline: none;
  border-color: red;
  box-shadow: 1 1 6px red;
}

.card-counter{
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover{
  box-shadow: 20px 20px 40px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary{
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger{
  background-color: #ef5350;
  color: #FFF;
}  

.card-counter.success{
  background-color: #66bb6a;
  color: #FFF;
}  

.card-counter.info{
  background-color: #26c6da;
  color: #FFF;
}  

.card-counter i{
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers{
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name{
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

.tabview-header {
  margin-left: 48%;
  width: 100%;
}

.p-tabview-nav {
  margin-left: 48%;
  width: 1%;
  
} 

.form-control {
  position: relative;
  overflow: hidden;
}

.form-control input {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 10px 10px 0;
  width: 100%;
  font-size: 16px;
  transition: all 0.3s ease;
  color: #000;
}

.form-control input:focus {
  color: #00ff2a;
}

.form-control input::placeholder {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 14px;
  transition: all 0.3s ease;
  color: #999;
}

.form-control:hover input::placeholder {
  top: 0;
  color: #00ff6e;}

  .modal-container {
    z-index: 10000;
  }
  
  .modal-container .p-calendar {
    z-index: 10001 !important;
  }



/* Main Section */
.main{
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-skills{
  display: flex;
  margin-top: 20px;
}
.main-skills .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
}
.main-skills .card p{
  font-size: 12px;
}
.main-skills .card button{
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-skills .card button:hover{
  background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
  font-size: 22px;
  padding: 10px;
}

.form-label {
  font-weight: bold;
}

.Selectss {
  width: 100%;
}

.tooltip-icon {
  display: inline-block;
  position: relative;
}

.tooltip-icon .tooltip-content {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.tooltip-icon:hover .tooltip-content {
  visibility: visible;
}


.custom-card {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.custom-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.custom-card img {
  transition: transform 0.3s ease;
}
.custom-card:hover img {
  transform: scale(0.99);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-card {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-in-card2 {
  animation: fadeIn 0.6s ease-in-out;
}

.fade-in-text {
  animation: fadeIn 0.8s ease-in-out;
}